<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" >Bulk Import</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "Employees", employees_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Policies", policies_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Companies", companies_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <%= link_to "Employee Bulk Import", new_employee_bulk_import_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>
