<h1>Employee Bulk Import</h1>
<hr>

<%= form_tag employee_bulk_import_path, method: :post, multipart: true do %>
  <div class='form-group'>
    <%= select_tag 'data[company_id]', options_from_collection_for_select(Company.all, "id", "name"), class: 'form-control', include_blank: "Select Company", required: true %>
  </div>
  <div class='form-group'>
    <%= file_field_tag 'data[file]', accept: '.csv', class: 'form-control-file', required: true %>
  </div>
  <div class='form-group'>
    <%= submit_tag "Import", class: 'btn btn-primary' %>
  </div>
<% end %>
